body {
    background-color: rgb(34, 34, 34);
    margin: auto;
    width: 100%;
}
ul {
  list-style-type: none;
  margin-left: 15%;
  margin-right: 5%;
  margin-top: 0%;
  margin-bottom: 0%;
  overflow: hidden;
  background-color: rgb(34, 34, 34);
}

header a:hover {
    background-color: black;
}

li {
  float: left;
   
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
}

.tre {
    width: 5%;
    position: absolute;
    margin-left: 11%;
}
.un {
    width: 100px;
    height: 50px;
}

.blue {
    background-color: dodgerblue;
    background-size: auto 10%;
    padding-bottom: 1px;
    
}

.logo {
    position: absolute;
    float: left;
    margin-left: 11%;
    width: 12%;
    margin-top: 3%;
}

.io {
    margin-left: 38%;
    margin-top: 2%;
    text-align: center;
    width: 25%;
}
.bouton a {
    display:block;
    font-family: serif;
    width:170px;
    line-height:40px;
    border: 2px solid white;
    border-radius: 7px;
    text-align:center;
    vertical-align:middle;
    background:url(https://media.istockphoto.com/photos/surface-of-orange-floor-background-picture-id510566602?k=6&m=510566602&s=612x612&w=0&h=VG-_hSfxOQEWkPyrrB35Qe7wQHJFJc7fzIAjIuqVUeY=) no-repeat;
    color:white;
    text-decoration:none;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    text-align: center;
    margin: auto;
}

.white {
    color: white;
    text-align: center;
}

.black {
    color: black;
    font-size: 25px;
    font-family: serif;
    text-align: center;
    margin: 0;
    
}

.blanc {
    background-color: beige;
}

.simple {
    float: left;
    margin-right: 50%;
    margin-left: 9%;
}

.product {
    float: left;
    margin-right: 50%;
    margin-left: 9%;
    margin-top: 10%;
    position: absolute;
}

.build {
    float: right;
    margin-right: 9%;
    margin-left: 50%;
    position: absolute;
}

.data {
    float: right;
    margin-right: 9%;
    margin-left: 50%;
    position: absolute;
    margin-top: 10%;
}

p {
    color: white;
    font-family: serif;
    font-size: 15px;
}

h2 {
    color: white;
    font-family: serif;
}
    
.de {
        background-color: dodgerblue;
    background-size: auto 10%;
    padding-bottom: 300px;
}

.gris {
    background-color: silver;
    background-size: auto 10%;
    padding-bottom: 220px;
    
}

.miles {
    width: 10%;
    position: absolute;
    margin-left: 16%;
    margin-top: 3%;
}

.app {
    width: 4%;
    position: absolute;
    margin-left: 28%;
    margin-top: 3%;
}

.spec {
    width: 10%;
    position: absolute;
    margin-left: 34%;
    margin-top: 3%;
}

.know{
    width: 10%;
    position: absolute;
    margin-left: 46%;
    margin-top: 3%;
}
.hat {
    width: 10%;
    position: absolute;
    margin-left: 59%;
    margin-top: 3%;
}
.fwd {
    width: 10%;
    position: absolute;
    margin-left: 71%;
    margin-top: 3%;
}
.hunt {
    width: 20%;
    position: absolute;
    margin-top: 5%;
    margin-left: 40%;
}

.boutonde {
    display:block;
    font-family: serif;
    width:170px;
    line-height:40px;
    border: 2px solid white;
    border-radius: 7px;
    text-align:center;
    vertical-align:middle;
    background-color: darkslategrey;
    color:white;
    text-decoration:none;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    text-align: center;
    margin: auto;
}

.boutontr {
    display:block;
    font-family: serif;
    width:170px;
    line-height:40px;
    border: 2px solid white;
    border-radius: 7px;
    text-align:center;
    vertical-align:middle;
    background:url(https://media.istockphoto.com/photos/surface-of-orange-floor-background-picture-id510566602?k=6&m=510566602&s=612x612&w=0&h=VG-_hSfxOQEWkPyrrB35Qe7wQHJFJc7fzIAjIuqVUeY=) no-repeat;
    color:white;
    text-decoration:none;
    padding-right: 5px;
    padding-left: 5px;
    position: relative;
    text-align: center;
    margin: auto;
}

.unb {
    margin-left: 30%;
    position: absolute;
    margin-top: 2%;
}

.deb {
    margin-left: 45%;
    position: absolute;
    margin-top: 2%;
}

.trb {
    margin-left: 60%;
    position: absolute;
    margin-top: 2%;
}

.last {
    background-color: beige;
    background-size: auto 10%;
    padding-bottom: 150px;
}

.def {
    color: white
}

footer a:hover{
    background-color: black;
}